<div class="body">
    <div class="container">
        <div class="login-form">
            <h2>Login</h2>
            <form action="#" method="post" (ngSubmit)="login()">
                <div class="input-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" [(ngModel)]="loginDetails.username" required>
                </div>
                <div class="input-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" [(ngModel)]="loginDetails.password" required>
                </div>
                <button type="submit">Login</button>
                <p class="register-link">New User? <a [routerLink]="['/register']">Register here</a></p>
            </form>
        </div>
    </div>
</div>